            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
            * {
                margin: 0;
                padding: 0;
                outline: 0;
                box-sizing: border-box;
                overflow-x: hidden;
                text-decoration: none;
                font-family: 'Poppins', sans-serif;
                scroll-behavior: smooth;
            }
            
             ::-webkit-scrollbar {
                width: 7px;
                scroll-behavior: smooth;
            }
            
             ::-webkit-scrollbar-track {
                background-color: hsl(0, 0%, 98%);
            }
            
             ::-webkit-scrollbar-thumb {
                background: rgb(120, 120, 120);
                border-radius: 10px;
            }
            
            header {
                width: 100%;
                padding: 20px;
                display: flex;
                position: fixed;
                background: white;
                justify-content: space-around;
                z-index: 2;
                box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
            }
            
            .logo {
                width: 110px;
                height: 110px;
            }
            
            .logo img {
                width: 90%;
                margin-top: 7px;
                margin-left: calc(50% - 45%);
            }
            
            .desktop-nav-container {
                width: 600px;
                margin-left: 30px;
            }
            
            .desktop-nav-container .desktop-nav {
                display: flex;
                justify-content: space-around;
                list-style: none;
            }
            
            .desktop-nav-container .desktop-nav a li {
                margin-top: 35px;
                color: black;
                cursor: pointer;
            }
            
            .desktop-nav-container .desktop-nav a li:hover {
                color: rgb(120, 120, 120);
            }
            
            .give-container {
                width: 180px;
                text-align: center;
                padding-top: 23px;
            }
            
            .give-container .give-btn {
                cursor: pointer;
                width: 125px;
                height: 45px;
                letter-spacing: 1.3px;
                font-size: 16px;
                font-weight: 500;
                border-radius: 20px;
                color: rgb(0, 2, 35);
                border: 2px solid rgb(0, 2, 35);
                background: white;
            }
            
            .give-container .give-btn:hover {
                background: rgb(235, 235, 235);
                color: rgb(0, 2, 35);
                border: 2px solid rgb(0, 2, 35);
                transition: all 200ms ease;
            }
            
            .hamburger {
                cursor: pointer;
                width: 40px;
                height: 40px;
                display: none;
                margin-top: 20px;
            }
            
            .hamburger .bar {
                width: 100%;
                height: 5px;
                border-radius: 3px;
                margin-top: 5px;
                display: block;
                background: rgb(235, 0, 0);
            }
            
            .hamburger .bar:nth-child(2) {
                width: 20px;
            }
            
            .mobile-nav-container {
                width: 100%;
                height: 90vh;
                margin-top: -200%;
                position: fixed;
                background: rgb(20, 20, 20);
                color: white;
                box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
                transition: all 400ms;
                z-index: 100;
            }
            
            .mobile-nav-container.active {
                margin-top: 0px;
                transition: all 400ms;
            }
            
            .mobile-nav {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                gap: 35px;
            }
            
            .mobile-nav a li {
                color: white;
                letter-spacing: 1px;
            }
            
            .mobile-nav .close {
                width: 50px;
                height: 70px;
                margin-top: 10px;
                margin-left: calc(100% - 55px);
                background: rgb(20, 20, 20);
                color: white;
                font-size: 25px;
                font-weight: 500;
                border: none;
            }
            
            .first-sect {
                width: 100%;
                height: 500px;
                padding: 2px;
                background-color: rgba(0, 0, 0, 0.7);
                background-image: url('assets/image/logo.jpg');
                background-size: 110%;
                margin-top: 150px;
                background-position-y: -280px;
                background-repeat: no-repeat;
                background-position-x: center;
                background-blend-mode: darken;
                color: white;
            }
            
            .first-sect .heading {
                margin-top: 160px;
                text-align: center;
                font-size: 40px;
            }
            
            .first-sect .motto {
                height: 50px;
                text-align: center;
                color: rgb(227, 227, 227);
                overflow: hidden;
                font-weight: 200;
                letter-spacing: 2px;
            }
            
            .first-sect .motto div {
                height: 100%;
                width: 100%;
                display: block;
                font-size: 18px;
                animation: scrollup 12s infinite;
            }
            
            @keyframes scrollup {
                30% {
                    transform: translateY(-100%);
                }
                35% {
                    transform: translateY(-90%);
                }
                60% {
                    transform: translateY(-200%);
                }
                65% {
                    transform: translateY(-190%);
                }
                95% {
                    transform: translateY(-300%);
                }
                100% {
                    transform: translateY(-290%);
                }
            }
            
            .sec-sect {
                width: 100%;
                height: 200px;
                padding-top: 50px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }
            
            .sec-sect .dy-says {
                margin-top: 20px;
                text-align: center;
                font-weight: 500;
                font-size: 18px;
                word-spacing: 2px;
            }
            
            .sec-sect .said-by {
                margin-top: 5px;
                letter-spacing: 1.2px;
                text-align: center;
                color: rgb(235, 0, 0);
            }
            
            .activities {
                width: 60%;
                height: 470px;
                margin-top: 40px;
                margin-bottom: 40px;
                margin-left: calc(50% - 30%);
                box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.4), 0 16px 12px -20px rgba(0, 0, 0, 0.5);
                border-radius: 20px;
                padding: 20px;
                overflow: hidden;
            }
            
            .activities h2 {
                color: rgb(30, 30, 30);
                font-weight: 300;
                letter-spacing: 2.5px;
                text-align: center;
            }
            
            .activities div {
                width: 100%;
                height: 50px;
                padding: 10px;
                margin-top: 12px;
                text-align: center;
                overflow: hidden;
            }
            
            .service-invite {
                margin-top: 10px;
                text-align: center;
                letter-spacing: 0.5px;
                margin-bottom: 35px;
                padding: 4px;
            }
            
            .service-invite a {
                color: rgb(0, 15, 255);
            }
            
            .ministry-expression {
                text-align: center;
                font-weight: 500;
                font-size: 22px;
                letter-spacing: 0.2px;
                color: rgb(60, 60, 60);
                margin-top: 30px;
                margin-bottom: -10px;
            }
            
            .ministry-arms {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 30px;
            }
            
            .ministry-arms .arm {
                width: 250px;
                height: 300px;
                margin-top: 40px;
                border-radius: 12px;
                text-align: center;
                border: 1px solid white;
                box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.4), 0 16px 22px -20px rgba(0, 0, 0, 0.5);
            }
            
            .ministry-arms .arm::before {
                content: "";
                display: block;
                height: 25%;
                width: 100%;
                overflow: hidden;
                background: rgba(255, 85, 85, 0.8);
                border-radius: 12px 12px 0 0;
            }
            
            .ministry-arms .arm hr {
                width: 80%;
                margin-top: 5px;
                margin-left: calc(50% - 40%);
            }
            
            .ministry-arms .arm p {
                padding: 10px;
            }
            
            .ministry-arms .arm .arm-image {
                width: 120px;
                height: 120px;
                border-radius: 100%;
                margin-top: -55px;
                margin-left: calc(50% - 60px);
                display: flex;
                justify-content: center;
            }
            
            .ministry-arms .arm .arm-image img {
                width: 90%;
                height: 90%;
                border-radius: 100%;
                object-fit: cover;
            }
            
            .footer {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                padding: 20px;
                background-color: rgb(10, 10, 10);
                overflow: hidden;
            }
            
            .footer a {
                width: 100%;
                margin-bottom: 20px;
                display: block;
                text-align: center;
            }
            
            .footer div {
                width: 250px;
                height: 165px;
                color: white;
                padding: 10px;
                overflow: hidden;
                margin-left: 5%;
            }
            
            .footer div h3 {
                font-weight: 500;
            }
            
            .footer div p {
                font-weight: 200;
                line-height: 25px;
                font-size: 14px;
            }
            
            .footer .footer-mail {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                text-align: center;
            }
            
            .footer .footer-mail img {
                width: 30px;
                height: 30px;
                margin-left: 15px;
                margin-right: 15px;
            }
            
            .footer .footer-mail a {
                color: white;
                font-size: 16px;
                font-weight: 300;
                margin-left: 150px;
            }
            
            .copy-right {
                width: 100%;
                height: 45px;
                text-align: center;
                padding: 10px;
                color: white;
                background-color: rgb(200, 25, 25);
            }
            /* STYLING FOR MOBILE  */
            
            @media (max-width: 800px) {
                header {
                    justify-content: space-between;
                    height: 125px;
                }
                .logo {
                    width: 95px;
                    height: 95px;
                    margin-top: -10px;
                }
                .logo img {
                    width: 90%;
                    margin-left: calc(50% - 45%);
                }
                .desktop-nav-container {
                    display: none;
                }
                .hamburger {
                    display: block;
                }
                .give-container {
                    display: none;
                }
                .first-sect {
                    height: 320px;
                    margin-top: 120px;
                    background-size: 250%;
                    background-position-y: -120px;
                    overflow: hidden;
                }
                .first-sect .heading {
                    margin-top: 80px;
                    text-align: center;
                    font-size: 26px;
                }
                .sec-sect .dy-says {
                    margin-top: 20px;
                    text-align: center;
                    font-weight: 400;
                    font-size: 18px;
                }
                .first-sect .motto {
                    font-size: 16px;
                }
                .activities {
                    width: 90%;
                    height: 450px;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    margin-left: calc(50% - 45%);
                    box-shadow: 0 25px 180px 0 rgba(0, 0, 0, 0.4), 0 32px 64px -48px rgba(0, 0, 0, 0.7);
                    border-radius: 20px;
                    padding: 10px;
                    overflow: hidden;
                }
                .service-invite {
                    font-size: 14px;
                }
                .activities div:nth-child(2),
                .activities div:nth-child(3),
                .activities div:nth-child(5) {
                    height: 50px;
                }
                .activities div:nth-child(4) {
                    height: 40px;
                }
                .activities h2 {
                    color: rgb(30, 30, 30);
                    font-weight: 300;
                    letter-spacing: 2.5px;
                    text-align: center;
                }
                .activities div {
                    width: 100%;
                    height: 65px;
                    padding: 5px;
                    font-size: 15px;
                    text-align: center;
                }
                .map-location {
                    height: 250px;
                    margin-top: 50px;
                    margin-bottom: 50px;
                }
                .footer div:nth-child(5) {
                    height: 40px;
                }
                .copy-right {
                    height: 60px;
                    padding: 5px;
                    padding-top: 10px;
                    font-size: 12px;
                    overflow: hidden;
                }
            }
