    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        outline: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        scroll-behavior: smooth;
    }
    
     ::-webkit-scrollbar {
        width: 10px;
        scroll-behavior: smooth;
    }
    
     ::-webkit-scrollbar-track {
        background-color: hsl(0, 0%, 98%);
    }
    
     ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: hsl(242, 100%, 11%);
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(18, 0, 154);
    }
    
    header {
        width: 100%;
        padding: 20px;
        display: flex;
        position: fixed;
        background: white;
        justify-content: space-around;
        z-index: 2;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
    }
    
    .logo {
        width: 110px;
        height: 110px;
    }
    
    .logo img {
        width: 90%;
        margin-top: 7px;
        margin-left: calc(50% - 45%);
    }
    
    .desktop-nav-container {
        width: 600px;
        margin-left: 30px;
    }
    
    .desktop-nav-container .desktop-nav {
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .desktop-nav-container .desktop-nav a li {
        margin-top: 35px;
        color: black;
        cursor: pointer;
    }
    
    .desktop-nav-container .desktop-nav a li:hover {
        color: rgb(120, 120, 120);
    }
    
    .give-container {
        width: 180px;
        text-align: center;
        padding-top: 23px;
    }
    
    .give-container .give-btn {
        cursor: pointer;
        width: 125px;
        height: 45px;
        letter-spacing: 1.3px;
        font-size: 16px;
        font-weight: 500;
        border-radius: 20px;
        color: rgb(0, 2, 35);
        border: 2px solid rgb(0, 2, 35);
        background: white;
    }
    
    .give-container .give-btn:hover {
        background: rgb(235, 235, 235);
        color: rgb(0, 2, 35);
        border: 2px solid rgb(0, 2, 35);
        transition: all 200ms ease;
    }
    
    .hamburger {
        cursor: pointer;
        width: 40px;
        height: 40px;
        display: none;
        margin-top: 20px;
    }
    
    .hamburger .bar {
        width: 100%;
        height: 5px;
        border-radius: 3px;
        margin-top: 5px;
        display: block;
        background: rgb(235, 0, 0);
    }
    
    .hamburger .bar:nth-child(2) {
        width: 20px;
    }
    
    .mobile-nav-container {
        width: 100%;
        height: 90vh;
        margin-top: -200%;
        position: fixed;
        background: rgb(20, 20, 20);
        color: white;
        box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
        transition: all 400ms;
        z-index: 10;
    }
    
    .mobile-nav-container.active {
        margin-top: 0px;
        transition: all 400ms;
    }
    
    .mobile-nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 35px;
    }
    
    .mobile-nav a li {
        color: white;
        letter-spacing: 1px;
    }
    
    .mobile-nav .close {
        width: 50px;
        height: 70px;
        margin-top: 10px;
        margin-left: calc(100% - 55px);
        background: rgb(20, 20, 20);
        color: white;
        font-size: 25px;
        font-weight: 500;
        border: none;
    }
    
    .first-sect {
        width: 100%;
        height: 450px;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.7);
        background-image: url('assets/image/logo.jpg');
        background-size: 110%;
        margin-top: 150px;
        background-position-y: -280px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-blend-mode: darken;
        color: white;
    }
    
    .first-sect .heading {
        margin-top: 160px;
        text-align: center;
        font-size: 40px;
    }
    
    .first-sect .motto {
        height: 50px;
        text-align: center;
        color: rgb(227, 227, 227);
        overflow: hidden;
        font-weight: 200;
        letter-spacing: 2px;
    }
    
    .first-sect .motto div {
        height: 100%;
        width: 100%;
        display: block;
        font-size: 18px;
        animation: scrollup 12s infinite;
    }
    
    .sec-sect {
        width: 100%;
        height: 130px;
    }
    
    .sec-sect .dy-says {
        margin-top: 20px;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        word-spacing: 2px;
    }
    
    .sec-sect .said-by {
        margin-top: 5px;
        letter-spacing: 1.2px;
        text-align: center;
        color: red;
    }
    
    @keyframes scrollup {
        30% {
            transform: translateY(-100%);
        }
        35% {
            transform: translateY(-90%);
        }
        60% {
            transform: translateY(-200%);
        }
        65% {
            transform: translateY(-190%);
        }
        95% {
            transform: translateY(-300%);
        }
        100% {
            transform: translateY(-290%);
        }
    }
    
    .footer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
        background-color: rgb(10, 10, 10);
    }
    
    .footer div {
        width: 280px;
        height: 100px;
        color: white;
        padding: 10px;
    }
    
    .footer div h3 {
        font-weight: 500;
    }
    
    .footer div p {
        font-weight: 200;
        line-height: 25px;
        font-size: 14px;
    }
    
    .footer .footer-mail {
        width: 100%;
        height: 80px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .footer .footer-mail img {
        width: 40px;
        height: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .footer .footer-mail a {
        color: white;
        font-size: 16px;
        font-weight: 300;
        margin-left: 150px;
    }
    
    .copy-right {
        width: 100%;
        height: 120px;
        text-align: center;
        padding: 5px;
        color: white;
        font-size:13px;
        background-color: rgb(140, 0, 0);
    }
    /* STYLING FOR MOBILE  */
    
    @media (max-width: 800px) {
        header {
            justify-content: space-between;
            height: 125px;
        }
        .logo {
            width: 95px;
            height: 95px;
            margin-top: -10px;
        }
        .logo img {
            width: 90%;
            margin-left: calc(50% - 45%);
        }
        .desktop-nav-container {
            display: none;
        }
        .hamburger {
            display: block;
        }
        .give-container {
            display: none;
        }
        .first-sect {
            height: 300px;
            margin-top: 120px;
            background-size: 250%;
            background-position-y: -100px;
        }
        .first-sect .heading {
            margin-top: 80px;
            text-align: center;
            font-size: 26px;
        }
        .first-sect .dy-says {
            margin-top: 20px;
            text-align: center;
            font-weight: 200;
            font-size: 16px;
        }
        .first-sect .motto {
            font-size: 16px;
        }
        .sec-sect .article {
            margin-top: 10px;
            text-align: center;
            font-size: x-large;
        }
        .copyright {
            font-size:13px;
        }
    }
